* {
  padding: 0px;
  margin: 0px;
}

body {
  background: url(pexels-joshua-welch-1624600.jpg);
  background-size: 100em;
  background-repeat: no-repeat;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: 2.5em;
  font-weight: bolder;
  margin: 1em 0em 0em 3em;
}
