* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 3em 0em 0em 3em;
}
body {
  background: url(pexels-joshua-welch-1624600.jpg);
  background-size: 100em;
  background-repeat: no-repeat;
}
.list-item {
  margin: 0em 0em 0em 1em;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}
.list-item a {
  display: flex;
}

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: 2.5em;
  font-weight: bolder;
  margin: 1em 0em 0em 3em;
}
